<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838547456848-qlo8fpjh13ra3jvho7bvhl5179j0d5o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838547456848-qlo8fpjh13ra3jvho7bvhl5179j0d5o0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838547456848-2et4bhtq9l08ugvliq57hg522j93bm4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBkMxQiJJRT26GWYuTlrXvKRyBJiOwhk_c</string>
	<key>GCM_SENDER_ID</key>
	<string>838547456848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cloudtiffin.cloudtiffin</string>
	<key>PROJECT_ID</key>
	<string>fir-apps-7f3ea</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-apps-7f3ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838547456848:ios:01ccd1e1c96e7e9a872255</string>
	<key>DATABASE_URL</key>
	<string>https://fir-apps-7f3ea-default-rtdb.firebaseio.com</string>
</dict>
</plist>